*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: futura;
    background: rgb(225, 232, 247);
}
section{
    padding: 100px;
}
.title{
    margin-top: 100px;
    text-align: center;
    padding: 40px;
}
.title img{
    height: 400px;
    margin: 40px;
    filter: hue-rotate(220deg);

}
.content{
    text-align: center;
    padding: 0px 200px;
    margin-bottom: 200px;
}





/* MOBILE */

@media (max-width: 991px){
    img{
        width: 300px;
        max-height: 250px;
        margin: 20px;
    }
    .content{
        text-align: center;
        padding: 0px 80px;
    }
}